<ul style='margin:0px;padding:0px;'>
					<li>
						Type : <%= @application.groupapp.name %>		
					</li>
					<li>
						Version : <%= @application.id %>
					</li>
					<li>
						Mise à jour : <%= @application.updated_at %>
					</li>
</ul>

