<ul>
<% @tab_topics_blocks.each{ |topics_blocks| %>
	<li>
		<%= link_to "x", :controller=>"fichiercompressions", :action=>"sup_topics_blocks", :id=>topics_blocks[i][40] %>
		<%= topics_blocks[2] %>
	</li>
<% } %>
</ul>
