<ul class='ul_class_dock_menu'>
	<li>
		<%= link_to t("statistics.liens_colonnes_categories"), :controller=>"statistics", :action=>"categoriecolonne" %>
	</li>

	<li>
		<%= link_to "Configurer les tables pour les statistiques", :controller=>"statistics", :action=>"menu" %>	
	</li>

	<li>
		<%= link_to "Gérer les statistiques à afficher sur la page principal", :controller=>"statistics", :action=>"statistiquesprincipalindex" %>
	</li>
</ul>
