<ul class='ul_class_dock_menu'>
	<li>
		<%= link_to image_tag("img_general/applications/style_1/admin_tableau.png", :style=>"border:0px;", :size=>"50x50"), :controller=>"statistics", :action=>"menu" %>
	</li>

	<li>
		<%= link_to image_tag("img_general/applications/style_1/stats.png", :style=>"border:0px;", :size=>"50x50"), :controller=>"statistics", :action=>"index" %>
	</li>
</ul>
