<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			Facturation - Nouvelle licence
		</title>
	</head>
   <body>
      <p>    
	Le client: 
	<%= @user.username %> <%= @user.email %>
      </p>

      <p>
      Le logiciel : <% 
      @application.groupapp.name 
      %><br>
      Nom de la borne : <% 
      @application.name 
      %> <<%= 
      @application.serial 
      %>><br> 
      Date d'installation : <%= 
      @application.created_at.strftime("%d/%m/%Y %H:%M") 
      %>
      </p>
   </body>
</html>
